# ML Model (Ignored original large files)
college_predictor.pkl
model_columns.pkl

# Compressed Model (Allowed - under 100MB)
!college_predictor_compressed.joblib
!encoders.pkl
*.csv
combined_josaa_data_2023_to_2025.csv

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# Visualizations
residuals_histogram.png
scatterplot_actual_vs_predicted.png
